<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Anatidae Haxball</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/Admin_css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")

        @RenderSection("head", required: false)

    </head>
    <body>
        
        <div id="admin_left_menu">
            @Html.ActionLink("Jogadores", "Jogadores", "Admin")
            @Html.ActionLink("Equipas", "Equipas", "Admin")
            @Html.ActionLink("Competições", "Competicoes", "Admin")
        </div>
        <div class="floater"></div>
        <div class="page_title">@ViewBag.Title</div>
        @RenderSection("top_menu", required: false)
        <div class="center">
            @RenderBody()
        </div>

        @RenderSection("scripts", required: false)




    </body>
</html>