@model AnatidaeHaxball.Jogador

<fieldset>
    <legend>Jogador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.avatar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.avatar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.posicao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.posicao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ave)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ave)
    </div>
</fieldset>