@using AnatidaeHaxball.HtmlHelpers
@model AnatidaeHaxball.Equipa

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm(Html.CurrentAction(), "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Equipa</legend>

        @Html.HiddenFor(model => model.idEquipa)
        @Html.HiddenFor(model => model.activa)

        <div class="editor-label">
            @Html.LabelFor(model => model.tag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tag)
            @Html.ValidationMessageFor(model => model.tag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.logo)
        </div>
        <div class="editor-field">
            @if(!String.IsNullOrEmpty(Model.logo)){
                <img height="150" src="@AnatidaeHaxball.DataUtils.GetTeamLogo(Model.logo)" />
            }
                
            @Html.InputImage()
            @Html.ValidationMessageFor(model => model.logo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
