@model AnatidaeHaxball.Jogador

@{
    ViewBag.Title = "CreateJogador";
}

<h2>CreateJogador</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Jogador</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.avatar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.avatar)
            @Html.ValidationMessageFor(model => model.avatar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.posicao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.posicao)
            @Html.ValidationMessageFor(model => model.posicao)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


