@model AnatidaeHaxball.Jogador

@{
    ViewBag.Title = "DeleteJogador";
}

<h2>DeleteJogador</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Jogador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.avatar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.avatar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.posicao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.posicao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
