@model AnatidaeHaxball.Jogador

@{
    ViewBag.Title = "Remover Jogador";
}

<h2>Remover Jogador</h2>

<h3>
    Tem a certeza que pretende remover toda a informação deste jogador? Se o fizer, apagará todas
    as estatísticas e todos os registos referentes a este jogador.
</h3>

<fieldset>
    <legend>Jogador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.avatar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.avatar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.posicao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.posicao)
    </div>



</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Ver Jogadores", "Jogadores")
    </p>
}
