@using AnatidaeHaxball
@model IEnumerable<AnatidaeHaxball.Equipa>

@{
    ViewBag.Title = "Equipas";
}

<h2>Equipas</h2>

<p>
    @Html.ActionLink("Criar Nova Equipa", "CreateEquipa")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            <img height="150" src="@DataUtils.GetTeamLogo(item.logo)" />
        </td>
        <td>
            <a href="@Url.Action("EditEquipa", new { id=item.idEquipa })"><img src="~/Images/edit-icon.png" /></a>
            <a href="@Url.Action("DeactivateEquipa", new { id=item.idEquipa })"><img src="~/Images/delete-icon.png" /></a>
            <a href="@Url.Action("DeleteEquipa", new { id=item.idEquipa })"><img src="~/Images/bin-icon.png" /></a>
        </td>
    </tr>
}

</table>
