@using AnatidaeHaxball
@model IEnumerable<AnatidaeHaxball.Jogador>

@{
    ViewBag.Title = "Jogadores";
}

<h2>Jogadores</h2>

<p>
    @Html.ActionLink("Adicionar Novo Jogador", "CreateJogador")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posicao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ave)
        </th>
        <th>
            Equipamento
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.posicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ave)
        </td>
        <td>
            <img height="190" src="@DataUtils.GetShirt(item.nomeShirt)" />
        </td>
        <td>
            <a href="@Url.Action("EditJogador", new { id=item.idJogador })"><img src="~/Images/edit-icon.png" /></a>
            <a href="@Url.Action("RemoveJogadorFromTeam", new { id=item.idJogador })"><img src="~/Images/delete-icon.png" /></a>
            <a href="@Url.Action("DeleteJogador", new { id=item.idJogador })"><img src="~/Images/bin-icon.png" /></a>
        </td>

    </tr>
}

</table>
